/*Configuracion basica*/

body
{
    margin: 0;
    padding: 0;
    background-color: #333;
    color: snow;
    text-align: center;
}

hr
{
    height: 10px;
    margin-left: 35%;
    margin-right: 35%;
    background-color: aquamarine;
    border-color: cadetblue;
}

/* Manipulamos la visual del contador (contador.js) a traves de su cambio dinamico de ClassName */

.menor /* Todo lo que tenga ClassName menor sera modificado */
{
    color: tomato;
}

.mayor /* Todo lo que tenga ClassName mayor sera modificado */
{
    color:limegreen;
}